<article>
  <h4>{{title}}</h4>
  <a href="" [routerLink]="['/characters', 'new']"><button>Add</button></a>
  <div>
    <input type="text" [(ngModel)]="listFilter" />
  </div>
  <div>
    <h4>Filtered by: {{listFilter}} </h4>
  </div>
  <ul>
    <li *ngFor="let character of characters | characterFilter:listFilter | sortCharacters">
      {{character.name}} &nbsp;
      <!--<a href="" [routerLink]="[character.id]">Edit</a>-->
      <button (click)="gotoDetail(character.id)">Edit</button>
    </li>
  </ul>
</article>
