<article>
  <div *ngIf="character">
    <h4>{{character.name | uppercase}} details</h4>

    <form #editForm="ngForm" novalidate (ngSubmit)="save(editForm)">

      <div>
        <label for="nametext">Name</label>
        <input type="text" name="nametext" [(ngModel)]="character.name" />
      </div>

      <div>
        <label for="sidetext">Side</label>
        <input type="text" name="sidetext" [(ngModel)]="character.side" />
      </div>

      <div>
        <button (click)="save()">Save</button> &nbsp;
        <button (click)="cancel()">Cancel</button> &nbsp;
        <button (click)="delete()">Delete</button>
      </div>

    </form>

  </div>
</article>